.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.rightAnchorTagscontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
  padding: 0;
}
.rightAnchorTagscontainer li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: black;
  font-size: 1rem;
}
