.primaryButton {
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  color: white;
  width: 14rem;
}
.outlineBtn {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
  border: 1px solid black;
}
